.minicalendar th {
	background-color: #91aa9d;
	border: 1px solid #ffffff;
	color: #ffffff;
	text-transform: uppercase;
}


.minicalendar td {
	background-color: #f6f6f6;
	text-transform: uppercase;
}

.block .minicalendar th {
    font-size: 0.6em;
}