/** Course formats **/
.course-content {width:100%; margin: 0 auto;padding-bottom: 30px;}
.course-content ul.weeks li.section {border:1px solid #DDD;}
.course-content ul.weeks li.section .content {background-color:#FFFFFF;padding:5px 10px;}
.course-content ul.weeks li.section .content h3 {margin:0;color:#777;font-weight: normal;}
.course-content ul.weeks li.section .left {padding:5px 0;}
.course-content ul.weeks li.section .right {padding:5px 0;}

/** Course **/
.coursebox {
	border-top: 1px dotted #DDDdd;
	
	
}
.coursebox .info {
	margin: 0px;
	padding: 5px;
	font-size:1.17em; 
	float: left;
    text-align: left;
    width: 100%;
	background: #f3f3f3;
	border-top: 1px dotted #c0c0c0;
	border-bottom: 1px dotted #c0c0c0;
	
}

.coursebox .info .name {
	margin:4px 0;
	text-transform: uppercase;
	background: transparent url([[pix:theme|images/bullet]]) no-repeat left; 
	text-indent: 32px;
	font-size: 1em;
}



.coursebox .info .teachers {margin:0 1em;font-size:0.9em;}

.coursebox .cost {font-size:0.9em;padding-top: 20px;}

.coursebox .info {
	width: 100%;
}
.coursebox .summary {
	background: #ffffff url([[pix:theme|sombrav]]) no-repeat left top; 
	margin: 0px;
	padding: 5px;
	padding-top: 10px;
	font-size:0.9em;
    float: left;
    text-align: left;
    width: 100%;
	border-bottom: 1px #c0c0c0 dotted;
}

#page-course-recent h2.main {font-size:1.1em;}
#page-course-recent .user {font-size:0.75em;}
#page-course-recent .grade {font-style: italic;font-size:0.9em;}
#page-course-recent .forum-recent .reply .title {font-style: italic;font-size:0.9em;}
#page-course-recent .forum-recent .discussion .title {font-weight:bold;font-style: italic;font-size:0.9em;}

.path-course-view .availabilityinfo {font-size:0.85em;color:#aaa;}
.path-course-view .availabilityinfo strong {font-weight:normal;color:black;}
.path-course-view .dimmed_text img {opacity:0.3;filter: alpha(opacity='30');}
.path-course-view .section {font-size:0.95em;line-height:1.2em;}
.path-course-view .section .activity {padding:0.2em 0;}
.path-course-view .section .activity a {line-height:1em;}
.path-course-view .section .weekdates {margin: 0;font-weight: normal;font-size: 1em;}
.path-course-view .section .groupinglabel {color: #666666;}
.path-course-view .section .mod-indent {padding-top: 4px; padding-bottom: 4px;}

/** topics Course format **/

.course-content ul.topics  {
	background: transparent;
	padding-top: 0px;

}

.path-course-view .headingblock {
    margin-bottom: 0px;
}

#page-course-view-topics .course-content ul.topics li.section .content {margin-bottom: 0; margin-left: 25px; margin-right:25px; margin-top: 0; min-height: 40px; max-height: 10000px;background: transparent;}
#page-course-view-topics .course-content ul.topics li.section .left { width: 25px;background:#91aa9d;float: left;  text-align: left; font-size: 24px;color: #ffffff; padding: 8px; font-weight:bold;min-height: 40px; max-height: 10000px;}
#page-course-view-topics .course-content ul.topics li.section .right {width: 25px;padding-top: 5px;padding-bottom: 0px;background: #ffffff;min-height: 40px; max-height: 10000px;}





.path-course-view .weeks .section,
.path-course-view .topics .section,
.path-course-view .section td {border-color:#DDDDDD;}
.path-course-view .weeks .content ,
.path-course-view .topics .content,
.path-course-view .weeks .section,
.path-course-view .topics .section {background: #FAFAFA;}
.path-course-view .section td.side {background: #FFFFFF;}
.path-course-view .weeks .current,
.path-course-view .topics .current,
.path-course-view .current td.side {background: #FFD991;}
.path-course-view .weeks .hidden,
.path-course-view .topics .hidden,
.path-course-view .hidden td.side {background: #DDDDDD;}
.path-course-view .section .weekdates {color: #777777;}
.path-course-view .weeks .weekdates ,
.path-course-view .topics .weekdates {color: #333333;}
.path-course-view .course-content ul.topics li.section h3.sectionname {font-size: 18px; margin-left: 22px;text-transform: uppercase; color: #B0B0B0;}
.path-course-view .course-content ul.topics li.section .summary {margin-left: 22px;}

.weeks li.section ,
.topics li.section {border-style:solid;border-width:1px;}

.weeks .content,
.topics .content {padding: 5px;}
.categorybox {width: 100%;}
.categoryboxcontent {border-color:#DDDDDD;}

#page-course-user .graph {text-align: center;}
#page-course-user .section {border-color:#AAAAAA;}
#page-course-user .info {text-align:center;}

#page-admin-report .plugin,
#page-course-report .plugin,
#page-course-import .plugin {margin-bottom: 20px;margin-left:10%;margin-right:10%;border: 1px solid #cecece;background-color: #fdfdfd;}

.path-course-view .unread {background: #9EBEFF;}
.path-course-view .completionprogress {font-size:0.80em; padding:8px 26px 5px 5px;}

#page-course-category #region-main .generalbox { margin: 0 auto; background: transparent url([[pix:theme|images/oia]]) no-repeat bottom left; min-height: 160px; padding-left: 240px;: padding-right: 25px; padding-top: 15px;  }
#page-course-category .courseboxes,
#page-course-index .courseboxes {padding:20px;}
#page-course-category .generalbox {BORDER: 0PX;}
#page-course-index h2.main {    
	background-color: #B7C9BF;
    border-bottom: 1px dotted #A0A0A0;
    border-top: 1px solid #A0A0A0;
    color: #FFFFFF;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans,FreeSans,Jamrul,Garuda,Kalimati;
    font-size: 1.6em;
    font-weight: bold;
    padding: 10px;
	width: 99%;
    text-shadow: 2px 2px 3px #94AC9F;
    text-transform: uppercase;
}
#page-course-category .courseboxes, #page-course-index .courseboxes{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;

}
#page-course-report #content {padding-top:15px;padding-bottom:15px;}

#page-course-report #region-main p,
#page-course-report-log-index #region-main .info,
#page-course-report-log-indexlive #region-main .info,
#page-course-report-stats-index #region-main .graph {text-align: center;}

#page-course-report .logselectform,
#page-course-report .participationselectform,
#page-course-report-log-index .logselectform,
#page-course-report-participation-index .participationselectform {text-align:center;}

.addcoursebutton {text-align:center;}
.categorypicker {text-align:center;margin-bottom:10px;}
.path-course-report-outline .loginfo {text-align:center;margin: 1em;}

/* Course index category list */
.categorylist {
	width: 100%; 
	margin-top: 2px;
	text-align: left;
	padding: 4px;
	background: #f5f5f5;
	border-top: 1px dotted #c0c0c0;
	border-bottom: 1px dotted #c0c0c0;
	border-left: 1px solid #e0e0e0;
	
}
.categorylist .name { 
	margin-left: 10px;
	
}

/* Course and category combo list on front page */
.course_category_tree .controls {margin-bottom:5px;text-align:right;float:right;}
.course_category_tree .controls div {padding-right:2em;font-size:75%;}
.course_category_tree .category {background-color:#F5F5F5; border: 0px; border-top:1px dotted #c0c0c0;border-bottom:1px dotted #c0c0c0; margin-bottom:10px;}
.course_category_tree .category .subcategories {background-color:inherit;padding-left:16px;border:1px solid #FFF;}
.course_category_tree .category.with_children .category_label {background-position:3px 3px;}
.course_category_tree .category_link .category_link {font-size:95%;}
.course_category_tree .category_label {padding-left:13px;}
.course_category_tree .category_link {display:block;margin:5px;font-size:120%;font-weight:bold;}
.course_category_tree .category .courses {background: #ffffff url([[pix:theme|sombrav]]) no-repeat top left;padding: 3px;}
.course_category_tree .category .courses .course_link {background-size:16px 16px; margin:5px;margin-right:100px;padding-left:25px;}
.course_category_tree .category .course {border:1px solid #f9f9f9;border-bottom-color: #eee;border-right-width:0;}
.course_category_tree .category .course:last-child {border-bottom-color:#f6f6f6;}
.course_category_tree .category .course.even {background-color:#f6f6f6;border-color:#eee;border-top-color: #f9f9f9;}
.course_category_tree .category .course.odd {}
.course_category_tree .category .course_info {right:3px;top:3px;}
.course_category_tree .category .course:hover {background-color:#eee;}
.course_category_tree{WIDTH: 100%;}

/* Publication */
#page-course-publish-metadata .metadatatext {width: 400px;}
#page-course-publish-metadata .hubscreenshot {
    display:inline;
    float:left;
    margin-right:10px;
}
#page-course-publish-metadata .hubscreenshot img {vertical-align: bottom;}
#page-course-publish-metadata .hubdescription {}
#page-course-publish-metadata .hubinfo {display:block; margin-bottom:20px;}
#page-course-publish-metadata .hublink {}
#page-course-publish-backup .courseuploadtextinfo {text-align: center;}
#page-course-publish-backup .sharecoursecontinue  {text-align: center;}

#page-mod-resource-view #page-content .#page-content {width: 100%;}
#page-mod-resource-view .region-content .resourcegeneral #resourceobject { min-height: 600px;vertical-align:top;background: transparent;}
#page-mod-resource-view .region-content .resourcepdf #resourceobject {width: 100%; min-height: 600px;vertical-align:top;background: transparent;}


#page-admin-course-index #region-main .generalbox,
#page-admin-course-category #region-main .generalbox {width: 100%;margin-top: 20px; border-top:1px dotted #a0a0a0;border-bottom:1px dotted #c0c0c0;}
#page-admin-course-index #region-main .generalbox th,
#page-admin-course-category #region-main .generalbox th{background:#a0a0a0; text-transform: uppercase; color:#ffffff;border-bottom:1px dotted #c0c0c0;}
#page-admin-course-index #region-main .generalbox .name {padding-left: 3px; text-indent: 20px;background: transparent url([[pix:theme|images/bullet]]) no-repeat left; }


.course-content .section .activity img.activityicon {
    height: 32px;
    vertical-align: middle;
    width: 32px;
}

#report-main-content .region-content .graph img {width: 100%;margin: 0 auto; border-bottom:1px dotted #c0c0c0;border-top:1px dotted #c0c0c0;}
#page-mod-quiz-report table#attempts { width: 100%;}

#page-mod-quiz-summary .region-content h3 {margin: 0px; padding: 5px; background-color:#006BAD;color: #ffffff;text-transform:uppercase;border-bottom:1px dotted #c0c0c0;border-top:1px dotted #c0c0c0; }
#page-mod-quiz-summary .region-content .generaltable { width: 100%;}

.path-mod-choice .anonymous, .path-mod-choice .names { width: 100%;}

.path-mod-choice .names th {background-color: #006BAD;color: #ffffff;border:1px dotted #ffffff; }
.path-mod-choice .names tr {background-color: #ffffff;}


